// variabler
$bg-color:#f0f0f0;
$nav-color:#F9D155;
$footer-color:#F9D155;
$text-color:#F28B50;
$primary-color:#160D08;
$secondary-color:#C96BA0;
$padding:0.8em;
$primary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$secondary-font: 'Roboto Slab', serif;


// mixinx

@mixin flex($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color:$bg-color, $btn-padding: 1em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 18px;
    border:4px solid $secondary-color;
    color:$primary-color;
    text-decoration: none;
    text-align: center;
}

@mixin dashed-borders($color:$primary-color, $width:3px, $gap:20px) {
    // 1. Horizontal Top
    // 2. Horizontal Bottom
    // 3. Vertical Left
    // 4. Vertical Right
    background-image:
      linear-gradient(to right, $color 50%, transparent 50%),
      linear-gradient(to right, $color 50%, transparent 50%),
      linear-gradient(to bottom, $color 50%, transparent 50%),
      linear-gradient(to bottom, $color 50%, transparent 50%);
    background-size:
      $gap $width,
      $gap $width,
      $width $gap,
      $width $gap;
    background-repeat:
      repeat-x,
      repeat-x,
      repeat-y,
      repeat-y;
    background-position:
      top,
      bottom,
      left,
      right;
  }