// variabler
$bg-color:#f0f0f0;
$nav-color:#F9D155;
$footer-color:#F9D155;
$text-color:#F28B50;
$primary-color:#160D08;
$secondary-color:#C96BA0;
$padding:0.5em;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


// mixinx

@mixin flex($justify:center, $align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin btn($bg-color:$bg-color, $btn-padding: 0.8em 1em){
    background-color: $bg-color;
    padding: $btn-padding;
    border-radius: 18px;
    border:4px solid $secondary-color;
    color:$primary-color;
    text-decoration: none;
    text-align: center;
}