// for at hente vores paritla scss file så den kan læse alle variable osv
@use 'partial';
 // nesting til at bruge alle elementer

// dette er en test
 // nesting til at bruge alle elementer
body{
    margin:0;
    box-sizing: border-box;
    font-family:  partial.$primary-font;
    background-color: partial.$bg-color;
    // background-image: url(../img/HoneycombBGopac.svg);
    // background-repeat:repeat;
    // background-size:contain;
    // background-position: center;
        h1,h2,h3,h4,h5,h6{
            font-weight: 600;
            color: partial.$text-color;
            font-family: partial.$secondary-font;
        }
        
        p{
            color: partial.$primary-color;
            line-height: 1.5;
            font-family: partial.$primary-font;
        }
}

img{
    width: 100%;
    height: auto;
}

.container{
    display:grid;
    grid-template-columns: repeat(4, 2fr);
    grid-auto-rows:minmax(70px,auto);
}

header{
    grid-column:1/5;
    background-color: partial.$nav-color;
    border-bottom: thin dashed partial.$primary-color;
}

//Navigation//

    .mobile-nav{
        //color: partial.$text-color;
        width: auto;
        padding: 10%;
        display: flex;
    }

.logo{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8px;
    left: 27%;
    z-index: 1;
    width: 180px;
    height: auto;
    }

.fa-bars{
    color:partial.$primary-color;
    font-size:50px; 
    // text-align: right; -- virker ikke idk så har sat en margin på for nu
    margin-left: 85%;
}
.desktop-nav{
    display: none;
}


//Header animeret banner//

.banner-mobil{
    position:relative;
    margin-bottom:1em;
    max-width:100%;
}

 .banner-desktop{
        display:none;
}


//Main//

main{
    grid-column: 1/5;
}
   /*Section A*/
    .section-a{
        min-height:100vh;
        width: 100%;
    }
   
       .container-a{
           background-color:white;
           border: thin dashed partial.$primary-color;
           height: auto;
           max-width: 500px;
           margin:20px;
           padding: partial.$padding;
        } 

        .text{
            padding:1em;
            word-wrap: break-word;
           
            h1{
                font-size:28px;
               }

            p {
                font-size:18px;
            }
        }
            .btn{
             position:absolute;
             @include partial.btn;
               }

        .icon-area-a{
            position:relative;
            margin-top:50px;
            margin-bottom:5px;
            display: flex;
            flex-direction: column;

        }

        .icon-area-b{
            position:relative;
            margin-top:2px;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
        }
        .graphic-icon, .branding-icon, .some-icon, .webdesign-icon{
            text-decoration: none;
            color:partial.$text-color;
            text-align: center;
            font-weight: 600;
            font-size:30px;
            font-family: partial.$secondary-font;
            padding: 10px 0 10px 0;
        }
       
        .container-a img{
            height:250px;
            width:auto;
            margin:0 auto;
            display: block; 
        }

 /*Section B*/
 .section-b{
    min-height:100vh;
    width:100%;
    display:grid;
    grid-column:1/5;
    // @include partial.flex ($justify-content: center);

    .banner-mobile-b{
        position:relative;
        max-width:100%;
        margin-top:0;
        grid-column:1/5;
    }

    .section-b-billede{
        background-color:transparent;
        max-width:500px;
        height:auto;
        margin:20px;
        padding:partial.$padding;
        display:flex;
        flex-direction:column;
        border:thin dashed partial.$primary-color;
    }

    .read-about-case{
        grid-column:1/5;
        background-color: white;
        border: thin dashed partial.$primary-color;
        height:auto;
        max-width:500px;
        margin:20px;
        padding:partial.$padding;
        display:flex;
        flex-direction:column;
    }
    .button{
        @include partial.flex;
        margin:3em; 
    }
 }

/*Section C*/
.section-c{
    grid-column:1/5;
}
.meet-us{
    max-width:100%;
    height:auto;
    padding:partial.$padding;
    background-color: partial.$nav-color;
    text-align:center;

    h2{
        font-size:40px;
    }
    h3{
        font-size:25px;
        color:partial.$bg-color;
    }
}
.video{
    max-width:100%;
    height:200px;
    margin:20px;
    border:1px solid partial.$primary-color;
}
/*Footer*/

.main-footer{
    grid-column:1/5;
    background-color: partial.$bg-color;
    border-top:thin dashed partial.$primary-color;
    max-width:100%;
    height:auto;

}
    .footer-left{
       grid-column:1/5 ;
       margin:20px;
       h3{
            font-size: 28px;
    }
        p{
            font-size: 18px;
            font-family: partial.$primary-font;
        }
    }

    .footer-right{
        grid-column:1/5;
        margin:20px;
        .social-icon{
            display:flex;
            justify-content: space-evenly;
            text-align: center;

            .linkedin, .instagram, .facebook, .tiktok{
                width: 70px;
                height: auto;
             }    
        }
        
    }

/*Footer bund*/
    .bottom-footer{
        grid-column:1/5;
        padding:partial.$padding;
        background-color: partial.$nav-color;
        border-top: thin dashed partial.$primary-color;

        p{
            font-weight:600;
            text-align:center;
            margin-top:0.5em;
        }
    }


/*Media Query*/ 
@media(min-width:1024px){
    .mobile-nav{
        display:none;
    }
    .logo{
        width:70px;
        height:auto;
    }
    .fa-bars{
        display:none;
    }

    .desktop-nav{
        display:inline-block;

        ul{
            display:flex;
            justify-content: space-between;
            align-items:start;
            list-style-type:none;
        }

        li a{
            color:partial.$primary-color;
            padding:partial.$padding;
            margin:partial.$padding;
            font-size:30px;
            font-weight:600;
            text-decoration:none;
        }
        ul a:hover{
            color:partial.$secondary-color;
        }
    }
}


// kontaktside css

    