// for at hente vores paritla scss file så den kan læse alle variable osv
@use 'partial';
 // nesting til at bruge alle elementer

// dette er en test
 // nesting til at bruge alle elementer
body{
    margin:0;
    box-sizing: border-box;
    font-family:  partial.$font;
    background-color:partial.$bg-color;
        p{
            font-size: 16px;
            color: partial.$text-color;
            line-height: 1.5;
        }
        h1,h2,h3,h4,h5,h6{
            font-weight: 600;
            color: partial.$text-color;
        }
}

img{
    width: 100%;
    height: auto;
}


